<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Books</title>
    </head>
    <body>
        <a href="/libro/new/">Crear libro</a>

        {% for author in authors %}
            <p>{{ author }}</p>
            <table>
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Editorial</th>
                    <th>✏️</th>
                </tr>
                {% for book in author.book_set.all %}
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.ISBN}}</td>
                    <td>{{book.editorial}}</td>
                    <td><a href="/libro/edit/{{ book.id }}/">✏️</a></td>
                </tr>
                {% endfor %}
            </table>
            <br/>
        {% endfor %}
    </body>
</html>
